<!DOCTYPE HTML>
<html>
    <head>
        <style>
            body{
                background-color: aqua;
            }
        </style>
        <title>Q5 </title>
    </head>
    <body>|
    
        <form action="/form" id="form" method="POST">
            <label for="string">Enter a String</label>
            <input type="text" name="str" id="name" value="AJAY">

            <br>
            <button>Submit</button>
        
        </form>
    </body>
</html>